<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ recipe.title }}</title>
</head>
<body>
    <div class="recipe-details">
        <h1> {{ recipe.title }}</h1>

        <!--Recipe's Image-->
        {% if recipe.image %}
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        {% endif %}

        <!--Recipe's Ingredients-->
        <h2 class="section-title"> Ingredients </h2>
        <ul class="ingredient-list"> 
            {% for ingredient in recipe.extendedIngredients %}
            <li>
                {{ ingredient.original }}
            </li>
            {% endfor %}
        </ul>

        <!--Recipe's Instructions-->
        <h2 class="section-title">
            Instructions
        </h2>
        <ol class="instruction-list">
        {% for step in recipe.analyzedInstructions[0].steps %}
        <li> {{ step.step }} </li>
        {% endfor %}
        </ol>
        <a href="/?search_query={{ search_query }}"> Back to search results </a>

        
    </div>
</body>
</html>